* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Epilogue", Arial, sans-serif;
}

.container {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

section .container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.s__wrapper {
  width: 540px;
  padding-top: 184px;
}

.snap__list {
  margin-top: 0;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.parent {
  display: flex;
  justify-content: space-between;
}

.snap__wrapper {
  display: flex;
  justify-content: space-between;
}

.big__wrapper {
  display: flex;
  justify-content: space-between;
}

.link__button {
  margin-top: 51px;
  padding: 15px 31px;
  align-items: center;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.25px;
  color: #fff;
  background-color: #151515;
  border-radius: 15px;
}

.snap__header {
  padding-top: 31px;
}

.snap__title {
  color: #151515;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -1.11px;
}

.snap__img {
  padding-top: 67px;
}

.snap__img2 {
  margin-top: 108px;
  margin-left: 30px;
  width: 477px;
  height: 35px;
}

.snap__title {
  margin-top: 0;
  margin-bottom: 0;
}

.snap__text {
  font-family: "Epilogue", Arial, sans-serif;
  color: #686868;
  margin-top: 48px;
  margin-bottom: 0;
  width: 445px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.snap__item {
  margin-left: 62px;
  list-style: none;
}

.item__link {
  text-decoration: none;
  color: #686868;
}

a {
  text-decoration: none;
}

.snap__reg {
  margin-left: 40px;
  font-size: 14px;
  line-height: 16px;
  padding: 13px 23px;
  border: 1.5px solid #686868;
  border-radius: 14px;
}
